<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Web UI</title>
</head>
<body>
	<img class="welcome" src="{{ url_for('static', filename='img/welcome.png') }}"/>
	<div class="container">
		<h1 id="title" style="color:DarkOliveGreen;"> Welcome to the UI! </h1>
		<p> You have 2 choices : Greetings or Addition!<p>
			<p><b>Choose wisely</b></p>
	</div>
	<div class="container">
		<h4 class="error">{{ error }}</h4>
			<div class="half-container">
				<form action="/greetPage" method="post">
				<label for="name"><b>What is your name?</b></label><br>
				<input type="text" id="name" name="name" style="color:Sienna"><br>
					<h3>Are you a pokemon fan ?</h3>
					<input type="radio" id="pokemon" name="pokemon" value="True" checked>
					<label for="pokemon"><b>Yep !</b></label>
					<input type="radio" id="pokemon" name="pokemon" value="False">
					<label for="not-pokemon"><b>no.</b></label><br/>
					<input class="home-input btn green large" type="submit" value="I <3 Greetings!"/>
				</form>
			</div>

			<div class="half-container">
				<form action="/additionPage" method="post">
				<label for="nb1"><b>The first number:</b></label><br>
				<input type="text" id="nb1" name="nb1" style="color:Sienna"><br>
				
				<label for="nb2"><b>The second number:</b></label><br>
				<input type="text" id="nb2" name="nb2" style="color:Sienna"><br>
				<input class="home-input btn red large" type="submit" value="I want to addition"/>
				</form>
		</div>
	</div>
</body>
</html>